<p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
        <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
    </ng-template>
    <p class="my-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
         quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, 
         cupiditate neque
        quas!
    </p>
    <ng-template pTemplate="footer">
        <button  pButton pRipple label="Save" class="rounded-2"></button>
        <button  pButton pRipple label="Cancel" class="p-button-secondary rounded-2 mx-2"></button>
    </ng-template>
</p-card>