.loader{
    min-height: 100vh;
    background-color: rgb(202, 202, 202);
    opacity: .6;
    position: absolute;
    /* top: 23%; */
    z-index: 2;
    // opacity: .5;
    // background: red;
    width: 100%;

}