<div>
    <h4>Users list :</h4>
    <div class="">

      <div class="">
        <p-table [columns]="cols" [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header" let-columns>
                <tr>
                  @for (col of columns; track col.id) {
                    
                    <th>
                        {{ col.header }}
                    </th>
                  }
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user let-columns="columns">
                <tr>
                  @for (col of columns; track col.id) {
                    <td>
                        {{ user[col.field] }}
                    </td>
                    
                  }
                </tr>
            </ng-template>
        </p-table>
        
    </div>
    </div>
</div>